<div class="wide minHeightBothCol" style="padding: 5px 20px; height: 450px; overflow-y: scroll; width: 97%; padding-right: 0;">
            



<h3>سياسة الخصوصية</h3>
<div style="font-size: 11px; direction: rtl;" class="searchLising start">
	<a id="top">&nbsp;</a>
    <!--<ul style="list-style: none; display: none; line-height: 20px;margin-top: 10px; color: #2a5177">
    	<li>1. <a href="#section1" id="top">What information is collected from me?</a></li>
        	<ul style="list-style: none; margin-left: 20px;">
            	<li>1.1 <a href="#section101">Information You Give Us</a> </li>
				<li>1.2 <a href="#section102">   Automatic Collection of Information</a></li>
				<li>1.3 <a href="#section103">   Information from Cookies</a></li>
            </ul>
		<li>2.  <a href="section2">Information Sharing Disclosure - How is my information used and shared?</a></li>
        	<ul style="list-style: none; margin-left: 20px;">
	        	<li>2.1   <a href="#section201">Personal Information</a> </li>
				<li>2.2   <a href="#section202">Non-personal Information</a> </li>
            </ul>
		<li>3. <a href="#section3"> How can I access and change my information?</a></li>
		<li>4. <a href="#section4"> How is my information protected? </a></li>
		<li>5. <a href="#section5"> Scope of This Privacy Policy: Outside Links </a> </li>
		<li>6. <a href="#section6"> Effective Date and Modifications </a></li>
		<li>7. <a href="#section7"> Contacting Us </a></li>
    </ul>-->

    <!--<div style="margin-top: 20px; margin-bottom: 10px;"><a id="section1" style=" color: #ae0b0c; font-size: 12px;">1. What information is collected from me?</a></div>-->

    <!--<div style="margin-top: 20px; color: #ae0b0c; font-size: 12px; font-weight: bold; line-height: 20px"><a id="section101" style="text-decoration: underline">1.1  Information You Give Us:</a> </div>-->

    <p style="font-size: 11px; margin: 10px 0px;">
    	يغطي بيان الخصوصية موقع www.tasawr.net  الذي تمتلكه وتديره شركة tekSymmetry محدودة المسئولية (والمشار إليها بـ "نحن"). يقوم موقع tasawr.net بحفظ بياناتك وفقا لبيان الخصوصية المشار إليه، فخصوصيتك محل اهتمام بالغ بالنسبة لفريق العمل لدينا.
    </p>

    <p style="font-size: 11px; margin-bottom: 10px;">
    	     يعد بيات الخصوصية جزءاً لا يتجزأ من موقعنا والخدمات التي نقدمها لكم ولا يمكن أن يتم الفصل بين هذا البيان واتفاقية المستخدم أو العضوية أو الاستخدام أو التعاملات بأي شكل من الأشكال. وفي حالة اعتراضك على سياسة الخصوصية الخاصة بنا كلية يتعين عليك عندئذ عدم استخدام موقعنا.   </p>


    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;"><!--<a id="section102" style="text-decoration: underline">-->استخدام المعلومات<!--</a>--></div>
    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">الكوكيز (سجل المتصفح) </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
	    الكوكيز عبارة عن مجموعات صغيرة من المعلومات تخزن على حاسوبك وترتبط بمعلومات عنك. إننا نستخدم كلا من كوكيز هوية الجلسة والكوكيز الدائمة. فبالنسبة لكوكي هوية الجلسة، عندما يغلق المستخدمين المتصفّح، يغلق الكوكي ببساطة. بينما يعد الكوكي الدائم عبارة عن ملف نصّ صغير يُخزن على قرص المستخدم الصلب لفترة زمنية طويلة. علاوة على ذلك، يمكن أن تتم إزالة الكوكيز الدائمة عن طريق متابعة التوجيهات في ملف مساعدة متصفّح الإنترنت.
    </p>
    <!--<a href="#top" style="float: right; font-weight: bold; padding-right: 10px;"> Top</a>-->
    <p style="font-size: 11px; padding-bottom: 10px;">
    	إننا نستخدم الكوكيز بطرق عدة حيث يتم استخدامه لنسمح لك بتسجيل الدخول دون الحاجة إلى كتابة اسم تسجيل الدخول في كل مرة. ولكن بدلا من ذلك، لابد من كتابة كلمة المرور حتى تتمكن من الوصول إلى النظام. علاوة على ذلك يتم استخدام الكوكيز من أجل تتبع استخدام مسار النزلاء وخدمة الإعلانات عبر شبكات الإعلان الخاصة بنا. جدير بالذكر أن أغلب متصفحي الويب يقبلون الكوكيز ولكنك تستطيع أن تعدل خيارات المتصفح لديك بما يعمل على منع الكوكيز في المستقبل إذا أردت ذلك. مازال يمكنك استخدام موقعنا في حالة رفضك للكوكي غير انك ستكون مقتصرا على بعض المناطق في موقعنا. وعلى الجانب الآخر تمكننا الكوكيز الدائمة من تتبع واستهداف اهتمامات مستخدمينا مما يؤدي إلى تحسين الأداء في موقعنا.
    </p>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	تستطيع شركات إعلان الطرف الثالث استخدام التكنولوجيا المستخدمة في قياس كفاءة الإعلانات وذلك من خلال استخدام الويب بيكون (سينجل بيكسل جيف) الذي يوضع على موقعنا لجمع المعلومات مجهولة المصدر. وقد تستخدم تلك الشركات هذا المعلومات مجهولة المصدر عن زياراتك لهذا الموقع وغيره من المواقع من أجل تقديم إعلانات عن البضائع والخدمات محل الاهتمام بالنسبة لك. لن يتم جمع معلومات شخصية أثناء هذه العملية فالمعلومات مجهولة المصدر ولا تربط النشاطات عبر الانترنت بشخص محدد.
    </p>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	علاوة على ذلك، يستخدم بعض شركائنا في العمل الكوكيز في مواقعنا (على سبيل المثال، المعلنون). وعلى أية حال لا تتوفر لدينا إمكانية الوصول إلى تلك الكوكيز أو التحكم فيها بمجرد إعطاء الإذن بإطلاق الكوكيز للإعلان. هذا ويغطي بيان الخصوصية استخدام الكوكيز في موقعنا فقط ولا يتضمن استخدام الكوكيز من قبل المعلنين أو شركاء العمل.
    </p>
    <a style="float: left; font-weight: bold; margin-left: 10px;" href="#top"> Top</a>

    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">ملفات الدخول</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
	   إننا نستخدم ملفات الدخول مثل معظم خادمات مواقع الويب القياسية. ويتضمّن ذلك عناوين الآي بي (بروتوكول الإنترنت)، ونوع المتصفّح، ومزوّد خدمة الإنترنت (ISP)، وصفحات الإحالة/ الخروج، ونوع برنامج التشغيل (Platform)، وطابع التاريخ/الوقت، وعدد النقرات لتحليل الاتّجاهات، وإدارة الموقع، وتعقّب حركة المستخدمين بشكل إجمالي، وتشخيص المشكلات التي تحدث على الخادمات لدينا وجمع معلومات سكّانية شاملة للاستخدام الكلي. لا ترتبط عناوين الآي بي وما إلى ذلك بمعلومات مميّزة شخصيا ولا تشير إليها.
    </p>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	رجاءا، اعلم أننا لدينا روابط على مواقع الويب الخاصة تقود إلى مواقع أخرى. قد تحتوي هذه المواقع على معلومات شخصية عنك. لا يغطي بيان الخصوصية ممارسات أو سياسات المعلومات الخاصة بتلك المواقع.
    </p>
    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;"><!--<a id="section102" style="text-decoration: underline">-->التواصل من الموقع <!--</a>--></div>
    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">العروض الخاصّة والتحديثات </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	إننا نرسل لكلّ الأعضاء الجدّد بريد إلكتروني ترحيبي لتأكيد صحة كلمة المرور واسم المستخدم. ويتلقى الأعضاء الحاليون من حين لآخر معلومات حول المنتجات، والخدمات، والصفقات الخاصة، ونشرة الأخبار. ومن منطلق الحرص على خصوصية مستخدمينا، نقدّم لهم خيار عدم استلام هذه الأنواع من الرسائل. رجاء راجع قسم الاختيار/الانسحاب.
    </p>

	<div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">نشرة الأخبار </div>
	<p style="font-size: 11px; padding-bottom: 10px;">
    	إذا رغب المستخدم في الاشتراك في نشرة أخبارنا، فإننا نطلب معلومات الاتصال مثل الاسم وعنوان البريد الإلكتروني. ونظراً لحرصنا الشديد على خصوصية مستخدمينا نقدم طريقة للانسحاب من هذه المراسلات. رجاءاً، راجع أقسام الاختيار/الانسحاب.
    </p>
	<div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">إعلانات الخدمة</div>
	<p style="font-size: 11px; padding-bottom: 10px;">
    	في حالات نادرة يكون من الضروري إرسال إعلان متعلّق حصرياً بخدمة ما. على سبيل المثال، في حال توقّف خدمتنا بشكل مؤقت للصيانة فقد نرسل بريد إلكتروني للمستخدمين. وبوجه عام، لا يمكن أن ينسحب المستخدمون من هذه المراسلات هذا بالرغم من أنّهم يستطيعون تعطيل حسابهم. وعلى أية حال، هذه المراسلات ليست ترويجية بطبيعتها.
    </p>
	<div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">خدمة العملاء</div>
	<p style="font-size: 11px; padding-bottom: 10px;">
    	إننا على اتصال دائم بالمستخدمين لتقديم الخدمات المطلوبة، أما بخصوص القضايا التي تتعلّق بحسابهم فإننا نجيب عنها عن طريق البريد الإلكتروني أو الفاكس أو الهاتف وفقا لرغبات المستخدمين.
    </p>
	<a style="float: left; font-weight: bold; margin-left: 10px;" href="#top"> Top</a>
    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;">اختيار/انسحاب</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	يتوفر لدى مستخدمينا فرصة "الانسحاب"من إمكانية استخدام المعلومات الخاصة بهم لأغراض لا تتعلّق بموقعنا مباشرة عند طلب تلك المعلومات. على سبيل المثال، يتميز نموذج الطلب لدينا بآلية "انسحاب" لذا فإن المستخدمين الذين يشترون أحد منتجاتنا ولكنهم لا يريدون أية مواد تسويقية، يمكنهم الاحتفاظ بعناوين بريدهم الالكتروني وأرقام الفاكس الخاصة بهم خارج قوائمنا.
    </p>
	<p style="font-size: 11px; padding-bottom: 10px;">
    	هذا ويتم إخطار مستخدمي موقعنا بصفة دائمة عند جمع معلوماتهم من قبل أية جهات خارجية وذلك بهدف تمكين مستخدمينا من تحديد اختيارهم بشكل مستنير بشأن ما إذا كان ينبغي عليهم أن يستمروا في الخدمات التي تتطلب طرف خارجي أم لا.
    </p>
	<div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;">الإخطار بالتغيرات المادية:</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
    	إذا قررنا إجراء أية تعييرات مادية في بيان الخصوصية الخاص بنا، فسوف نقوم بإرسال تلك التغييرات إلى بيان الخصوصية المذكور والصفحة الرئيسية وبعض المواضع الأخرى التي نرى أنها ملائمة حتى يكون مستخدمينا دائما على دراية بالمعلومات التي نجمعها وكيف نستخدمها والظروف التي يتم الإفصاح فيها عن هذه المعلومات، إن وجدت.
    </p>
	<p style="font-size: 11px; padding-bottom: 10px;">
    	فإذا كنا سنستعمل معلومات المستخدمين المميّزة شخصيا بطريقة تختلف عن الطريقة المذكورة في وقت جمعها، يتم إشعار المستخدمين باستخدام البريد الإلكتروني. هذا ويتمتع المستخدمون بخيار السماح باستعمال معلوماتهم بتلك الطريقة المختلفة أو عدم السماح بذلك. ومع ذلك، إذا حذف المستخدمون حسابهم أو عطّلوه، لن يتم الاتّصال بهم، ولن تكون معلوماتهم الشخصية مستعملة بتلك الطريقة المختلفة. علاوة على ذلك، إذا تم إجراء أيّة تغييرات مادية في ممارسات خصوصيتنا التي لا تؤثّر على معلومات المستخدم المخزنة في قاعدة بياناتنا، فسوف نرسل إشعارا بارزا على موقعنا لإعلام المستخدمين بالتغيير. كما سنقوم أيضا في بعض الحالات بإرسال إشعارا بالبريد الإلكتروني للمستخدمين الذين اختاروا خاصية استلام مراسلات منّا لإخطارهم بالتغييرات التي أجريت في ممارسات خصوصية الخاصة بنا.
    </p>



</div>
          </div>