<div class="wide minHeightBothCol" style="; padding-right: 0; width: 96%;">

<div style="overflow-y: scroll; width: 99%; height: 450px; padding: 5px 20px;">


  <h3>Privacy Policy</h3>

  <div style="font-size: 11px;" class="searchLising start">
    <a id="top">&nbsp;</a>
    <!--<ul style="list-style: none; display: none; line-height: 20px;margin-top: 10px; color: #2a5177">
      <li>1. <a href="#section1" id="top">What information is collected from me?</a></li>
          <ul style="list-style: none; margin-left: 20px;">
              <li>1.1 <a href="#section101">Information You Give Us</a> </li>
        <li>1.2 <a href="#section102">   Automatic Collection of Information</a></li>
        <li>1.3 <a href="#section103">   Information from Cookies</a></li>
            </ul>
    <li>2.  <a href="section2">Information Sharing Disclosure - How is my information used and shared?</a></li>
          <ul style="list-style: none; margin-left: 20px;">
            <li>2.1   <a href="#section201">Personal Information</a> </li>
        <li>2.2   <a href="#section202">Non-personal Information</a> </li>
            </ul>
    <li>3. <a href="#section3"> How can I access and change my information?</a></li>
    <li>4. <a href="#section4"> How is my information protected? </a></li>
    <li>5. <a href="#section5"> Scope of This Privacy Policy: Outside Links </a> </li>
    <li>6. <a href="#section6"> Effective Date and Modifications </a></li>
    <li>7. <a href="#section7"> Contacting Us </a></li>
    </ul>-->

    <!--<div style="margin-top: 20px; margin-bottom: 10px;"><a id="section1" style=" color: #ae0b0c; font-size: 12px;">1. What information is collected from me?</a></div>-->

    <!--<div style="margin-top: 20px; color: #ae0b0c; font-size: 12px; font-weight: bold; line-height: 20px"><a id="section101" style="text-decoration: underline">1.1  Information You Give Us:</a> </div>-->

    <p style="font-size: 11px; margin: 10px 0px;">
      This Privacy Statement covers the website tasawr.net, which is owned
      and operated by tekSymmetry Saudi Division ("we" or "us"). Your data will
      be maintained by tasawr.net, in accordance with this Privacy Statement.
      Your privacy is extremely important to our staff.
    </p>

    <p style="font-size: 11px; margin-bottom: 10px;">
      This Privacy Statement is an integral part of our website and the services
      offered to you and cannot, in any way, be separated from the User
      Agreement or from the membership, usage or transaction process. If you do
      not agree to our Privacy Statement in whole, you must not use our
      website. </p>


    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;"><!--<a id="section102" style="text-decoration: underline">-->
      Information Use<!--</a>--></div>
    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Cookies</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      Cookies are small pieces of information stored on your computer tied to
      information about you. We use both session ID cookies and persistent
      cookies. For the session ID cookie, once you close the browser, the cookie
      simply terminates. A persistent cookie is a small text file stored on your
      hard drive for an extended period of time. Persistent cookies can be
      removed by following the Web browser help file directions.
    </p>
    <!--<a href="#top" style="float: right; font-weight: bold; padding-right: 10px;"> Top</a>-->
    <p style="font-size: 11px; padding-bottom: 10px;">
      We use cookies in several ways. We use cookies to allow you to login
      without having to type your login name each time. Instead, only your
      password is needed to access the system. We also use cookies to track
      usage of the Guest path and to serve advertisements through our
      advertising networks. Most Web browsers automatically accept cookies, but
      if you prefer, you can edit your browser options to block them in the
      future. If you reject the cookie, you may still use our website. The only
      drawback to this is that you will be limited in some areas of our website.
      Persistent cookies enable us to track and target the interests of our
      users to enhance the experience on our website.
    </p>

    <p style="font-size: 11px; padding-bottom: 10px;">
      The third-party advertising companies may also employ technology that is
      used to measure the effectiveness of ads. This is primarily accomplished
      through the use of a Web beacon (a single-pixel GIF), which is placed on
      our site to collect anonymous information. They may use this anonymous
      information about your visits to this and other sites in order to provide
      advertisements about goods and services of potential interest to you. No
      personally identifiable information is collected during this process. The
      information is anonymous and does not link online actions to an
      identifiable person.
    </p>

    <p style="font-size: 11px; padding-bottom: 10px;">
      In addition, some of our other business partners also use cookies on our
      website (for example, advertisers). However, we have no access to or
      control over these cookies, once we have given permission for them to set
      cookies for advertising. This Privacy Statement covers the use of cookies
      by this website only and does not cover the use of cookies by any
      advertisers or business partners.
    </p>
    <a style="float: right; font-weight: bold; margin-right: 10px;" href="#top">
      Top</a>

    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Log
      Files
    </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      Like most standard website servers we use log files. This includes
      internet protocol (IP) addresses, browser type, internet service provider
      (ISP), referring/exit pages, platform type, date/time stamp, and number of
      clicks to analyze trends, administer the site, track user's movement in
      the aggregate, diagnose problems with our servers and gather broad
      demographic information for aggregate use. IP addresses, etc. are not
      linked to personally identifiable information.
    </p>

    <p style="font-size: 11px; padding-bottom: 10px;">
      Please be aware that we have links on our website that may lead to other
      sites. These sites may collect personally identifiable information about
      you. This Privacy Statement does not cover the information practices or
      policies of such websites.
    </p>

    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;"><!--<a id="section102" style="text-decoration: underline">-->
      Communications from the Site<!--</a>--></div>
    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Special
      Offers and Updates
    </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      We send all new members a welcoming email to verify password and username.
      Established members will occasionally receive information on products,
      services, special deals, and a newsletter. Out of respect for the privacy
      of our users we present the option to not receive these types of
      communications. Please see the Choice and Opt-out sections.
    </p>

    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Newsletter</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      If a user wishes to subscribe to our newsletter, we ask for contact
      information such as name and email address. Out of respect for our users
      privacy we provide a way to opt-out of these communications. Please see
      the Choice and Opt-out sections.
    </p>

    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Service
      Announcements
    </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      On rare occasions it is necessary to send out a strictly service related
      announcement. For instance, if our service is temporarily suspended for
      maintenance we might send users an email. Generally, users may not opt-out
      of these communications, though they can deactivate their account.
      However, these communications are not promotional in nature.
    </p>

    <div style="margin-top: 5px; color: rgb(42, 81, 119); font-style: italic; font-size: 12px; font-weight: bold; line-height: 20px;">Customer
      Service
    </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      We communicate with users on a regular basis to provide requested services
      and in regards to issues relating to their account we reply via email, fax
      or phone, in accordance with the user's wishes.
    </p>
    <a style="float: right; font-weight: bold; margin-right: 10px;" href="#top">
      Top</a>

    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;">Choice/Opt-out</div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      Our users are given the opportunity to opt-out of having their information
      used for purposes not directly related to our website at the point where
      we ask for information. For example, our order form has an opt-out
      mechanism so users who buy a product from us, but don't want any marketing
      material, can keep their email address and fax number off of our lists.
    </p>

    <p style="font-size: 11px; padding-bottom: 10px;">
      Users of our website are always notified when their information is being
      collected by any outside parties. We do this so our users can make an
      informed choice as to whether or not they should proceed with services
      that require an outside party.
    </p>

    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold; line-height: 20px;">Notification
      of Material Changes
    </div>
    <p style="font-size: 11px; padding-bottom: 10px;">
      If we decide to make any material change to our Privacy Statement, we will
      post those changes to this Privacy Statement, the homepage, and other
      places we deem appropriate so our users are always aware of what
      information we collect, how we use it, and under what circumstances, if
      any, we disclose it. We will use information in accordance with the
      Privacy Statement under which the information was collected.
    </p>

    <p style="font-size: 11px; padding-bottom: 10px;">
      If, however, we are going to use user's personally identifiable
      information in a manner different from that stated at the time of
      collection we will notify users via email. Users will have a choice as to
      whether or not we use their information in this different manner. However,
      if users have opted out of all communication with the site, or
      deleted/deactivated their account, then they will not be contacted, nor
      will their personal information be used in this new manner. In addition,
      if we make any material changes in our privacy practices that do not
      affect user information already stored in our database, we will post a
      prominent notice on this website notifying users of the change. In some
      cases where we post a notice we will also email users, who have opted to
      receive communications from us, notifying them of the changes in our
      privacy practices.
    </p>


  </div>
</div>
</div>