<div class="wide minHeightBothCol" style="padding: 5px 20px; height: 450px; overflow-y: scroll; width: 97%; padding-right: 0;">


  <h3>Terms &amp; Conditions</h3>

  <div style="font-size: 11px;" class="searchLising start">
    <a id="top">&nbsp;</a>
    <!--<div class="bold stdGapTop">Last updated June 23, 2006</div>
<div class="bold" style="margin-top: 2px;">Outline of Terms of Use:</div>-->

    <!-- <p style="margin-top: 20px">
     In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident.
   </p> -->
    <div style="margin: 10px 0px 20px;">As a condition of your use of
      Tasawr.net, you warrant that
    </div>
    <ul style="margin-left: 20px; list-style: disc outside none; line-height: 15px; margin-right: 10px;">
      <li>(i) You are at least 18 years of age,</li>
      <li>(ii) You possess the legal authority to create a binding legal
        obligation,
      </li>
      <li>(iii) You will use this Website in accordance with this Agreement,
      </li>
      <li>(iv) You will only use this Website to make legitimate reservations
        for you or for another person for whom you are legally authorized to
        act,
      </li>
      <li>v) All information supplied by you on this Website is true, accurate,
        current and complete.
      </li>
    </ul>


    <!-- <ul style="list-style: none; text-decoration: underline; margin-left: 10px; margin-top: 30px; line-height: 18px">
      <li><a href="#general"  id="top">General</a></li>
        <li><a href="#acceptance">Acceptance of Terms </a></li>
        <li><a href="#generalUse">General Use of the Move Network </a></li>
        <li><a href="#contentContained">Content Contained in the Move Network </a></li>
        <li><a href="#contentProvided">Content You Provide </a></li>
        <li><a href="#generalTerms">General Terms</a></li>
            <ul style="list-style: none; margin-left: 20px">
              <li><a href="#applicableLaw"> Applicable Law </a></li>
              <li><a href="#Interpretation"> Interpretation of the Terms of Use </a></li>
              <li><a href="#Disclaimer"> Disclaimer of Warranties </a></li>
              <li><a href="#Indemnification"> Indemnification </a></li>
              <li><a href="#Limitation"> Limitation of Liability </a></li>
              <li><a href="#Copyright"> Copyright </a></li>
              <li><a href="#Trademarks"> Trademarks </a></li>
           </ul>
   </ul> -->


    <!--<div style="margin-top: 20px"><a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">General</a> </div>
    <p>
      In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam.
    </p>-->
    <!--<a href="#top" style="float: right; font-weight: bold; padding-right: 10px;"> Top</a>   -->
    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold;"><!--<a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">-->
      Prohibited Activities<!--</a>--></div>

    <p style="font-size: 11px; margin-bottom: 10px;">
      The content and information on this Website (including, but not limited
      to, price and availability of travel services), as well as the
      infrastructure used to provide such content and information, is
      proprietary to us or our suppliers and providers. While you may make
      limited copies of your travel itinerary (and related documents) for travel
      or services booked through this Website, you agree not to otherwise
      modify, copy, distribute, transmit, display, perform, reproduce, publish,
      license, create derivative works from, transfer, or sell or re-sell any
      information, software, products, or services obtained from or through this
      Website. Additionally, you agree not to:
    </p>

    <ul style="margin-left: 20px; line-height: 15px; list-style: disc outside none; margin-right: 10px;">
      <li>(i) use this Website or its contents for any commercial purpose;</li>
      <li>(ii) make any speculative, false, or fraudulent reservation or any
        reservation in anticipation of demand;
      </li>
      <li>(iii) access, monitor or copy any content or information of this
        Website using any robot, spider, scraper or other automated means or any
        manual process for any purpose without our express written permission;
      </li>
      <li>(iv) violate the restrictions in any robot exclusion headers on this
        Website or bypass or circumvent other measures employed to prevent or
        limit access to this Website;
      </li>
      <li>(v) take any action that imposes, or may impose, in our discretion, an
        unreasonable or disproportionately large load on our infrastructure;
      </li>
      <li>(vi) deep-link to any portion of this Website (including, without
        limitation, the purchase path for any travel services) for any purpose
        without our express written permission; or
      </li>
      <li>(vii) "frame", "mirror" or otherwise incorporate any part of this
        Website into any other website without our prior written authorization.
      </li>
    </ul>

    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold;"><!--<a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">-->
      Supplier Rules and Restrictions<!--</a>--></div>


    <p style="font-size: 11px; margin-bottom: 10px;">
      Separate terms and conditions will apply to your reservation and purchase
      of travel- related goods and services that you select. Please read these
      separate terms and conditions carefully. You agree to abide by the terms
      and conditions of purchase imposed by any supplier with whom you elect to
      deal, including, but not limited to, payment of all amounts when due and
      compliance with the supplier's rules and restrictions regarding
      availability and use of fares, products, or services. You acknowledge that
      some third-party providers offering certain services and/or activities may
      require you to sign their liability waiver prior to participating in the
      service and/or activity they offer. You understand that any violation of
      any such supplier's rules and restrictions may result in cancellation of
      your reservation(s), in your being denied access to the applicable travel
      product or services, in your forfeiting any monies paid for such
      reservation(s), and/or in our debiting your account for any costs we incur
      as a result of such violation.
    </p>

    <a style="float: right; margin-bottom: 10px; font-weight: bold; padding-right: 10px;" href="#top">
      Top</a>


    <!--<div style="margin-top: 20px"><a id="acceptance" style="color: #ae0b0c; font-size: 12px; font-weight: bold">Acceptance of Terms</a></div>
<p>
  In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam.
</p>



<div style="margin-top: 20px"><a id="generalUse" style="color: #ae0b0c; font-size: 12px; font-weight: bold">General Use of the Move Network</a></div>
<p style="margin-bottom: 20px;">
  In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In
</p>     -->
  </div>
</div>