<div class="wide minHeightBothCol" style="; padding-right: 0; width: 96%;">

<div style="overflow-y: scroll; width: 99%; height: 450px; padding: 5px 20px;">



<h3>الشروط والأحكام</h3>
<div style="font-size: 11px;" class="searchLising start">
	<a id="top">&nbsp;</a>  
    <!--<div class="bold stdGapTop">Last updated June 23, 2006</div>
    <div class="bold" style="margin-top: 2px;">Outline of Terms of Use:</div>-->
    
   <!-- <p style="margin-top: 20px">
    	In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident.
    </p> -->   
    <div style="margin: 10px 0px 20px;">لا بد أن تتعهد بما يلي كشرط لاستخدامك لموقع tasawr.net: </div>
    <ul style="margin-right: 20px; list-style: disc outside none; direction: rtl; line-height: 15px; margin-left: 10px;">
    	<li>(i) أن تبلغ من العمر 18 عاما على الأقل</li>
		<li>(ii) أن يكون لديك السلطة القانونية التي تمكنك من عمل تعهد قانوني ملزم.</li>
		<li>(iii) سوف تستخدم هذا الموقع وفقا لما ورد في هذه الاتفاقية.</li>
		<li>(iv) سوف تستخدم هذا الموقع فقط لإجراء عمليات حجز قانونية لك أو لشخص غيرك وكلك بشكل قانوني للتصرف نيابة عنه.</li>
		<li>v) تكون كافة المعلومات التي تقدمها صحيحة ودقيقة وحديثة وكاملة.</li>
    </ul>    

    
    
   <!-- <ul style="list-style: none; text-decoration: underline; margin-left: 10px; margin-top: 30px; line-height: 18px">
    	<li><a href="#general"  id="top">General</a></li>
        <li><a href="#acceptance">Acceptance of Terms </a></li>
        <li><a href="#generalUse">General Use of the Move Network </a></li>
        <li><a href="#contentContained">Content Contained in the Move Network </a></li>
        <li><a href="#contentProvided">Content You Provide </a></li>
        <li><a href="#generalTerms">General Terms</a></li>
            <ul style="list-style: none; margin-left: 20px">
            	<li><a href="#applicableLaw"> Applicable Law </a></li>
            	<li><a href="#Interpretation"> Interpretation of the Terms of Use </a></li>
            	<li><a href="#Disclaimer"> Disclaimer of Warranties </a></li>
            	<li><a href="#Indemnification"> Indemnification </a></li>
            	<li><a href="#Limitation"> Limitation of Liability </a></li>
            	<li><a href="#Copyright"> Copyright </a></li>
            	<li><a href="#Trademarks"> Trademarks </a></li>
           </ul>
   </ul> -->         
    
    
    <!--<div style="margin-top: 20px"><a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">General</a> </div>
    <p>
    	In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. 
    </p>-->    
    <!--<a href="#top" style="float: right; font-weight: bold; padding-right: 10px;"> Top</a>   -->   
    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold;"><!--<a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">-->نشاطات غير مسموح بها <!--</a>--></div>
    
    <p style="font-size: 11px; margin-bottom: 10px;">
    	يعد المحتوى والمعلومات الواردة في هذا الموقع (بما في ذلك -على سبيل المثال لا الحصر- الأسعار وتوافر خدمات السفر) والبنية التحية المستخدمة لتوفير هذا المحتوى والمعلومات ملكية خاصة لنا ولموردينا ومتعهدينا. وعلى الرغم من أنك قد تقوم بعمل عدد محدود من النسخ من برنامج الرحلة (والمستندات ذات الصلة) من أجل السفر أو الخدمات التي تقوم بحجزها عن طريق هذا الموقع، فإنك توافق على عدم تعديل أو تصوير أو توزيع أو نقل أو عرض أو عمل أو نسخ أو ترخيص أو تنفيذ أعمال مشتقة أو تحويل أو بيع أو إعادة بيع أية معلومات أو برمجيات أو منتجات أو خدمات تم الحصول عليها من هذا الموقع. كما توافق أيضا على ما يلي:
    </p>
    
    <ul style="margin-right: 20px; line-height: 15px; direction: rtl; list-style: disc outside none; margin-left: 10px;" class="prohibit">
    	<li>(i) عدم استخدام هذا الموقع أو محتواه لأي غرض تجاري.</li>
        <li>(ii) عدم إجراء عمليات حجز وهمية أو كاذبة أو مضللة أو أية عمليات حجز تحسبا للطلب</li>
        <li>(iii) عدم الدخول إلى أي محتوى أو معلومات تخص هذا المحتوي أو تتبع أي منها أو نسخها باستخدام ربوت أو برنامج "Spider" أو "Scraper" أو عن طريق أية وسيلة أخرى آلية أو أية عملية يدوية لأي غرض دون إذن كتابي صريح منا.</li>
        <li>(iv) عدم خرق القيود الواردة في ترويسات استبعاد الربوت (robot exclusion headers) على هذا الموقع، أو التحايل على أية معايير تستخدم لمنع أو الحد من الوصول إلى هذا الموقع.</li>
        <li>(v) عدم اتخاذ أي إجراء من شأنه أن يفرض، أو قد يفرض،  وفقا لتقديرنا الخاص عبئا مفرطا أو ضخما على بنيتنا التحتية.</li>
        <li>(vi) عدم الربط العميق بأي جزء من هذا الموقع (بما في ذلك مسار الشراء الخاص بأي خدمة من خدمات السفر دون قصر) لأي غرض دون إذن كتابي واضح منا.</li>
        <li>(vii) عدم إدخال أي جزء من هذا الموقع أو نسخه أو دمجه في أي موقع آخر دون الحصول على تصريح كتابي مسبق.</li>
    </ul>    

    <div style="margin-top: 20px; color: rgb(174, 11, 12); font-size: 12px; font-weight: bold;"><!--<a id="general" style="color: #ae0b0c; font-size: 12px; font-weight: bold">-->القيود والقوانين الخاصة بالموردين<!--</a>--></div>
    	
        
     <p style="font-size: 11px; margin-bottom: 10px;">
     	سوف يتم تطبيق شروط وأحكام منفصلة على عملية الحجز التي تقوم بها وشراء البضائع والخدمات ذات الصلة بالسفر التي تقوم باختيارها. رجاءا، اقرأ تلك الشروط والأحكام المنفصلة بعناية. انك توافق على الالتزام بشروط وأحكام الشراء التي يفرضها أي مورد تختاره للتعامل معه بما في ذلك &ndash;دون حصر- دفع كافة المبالغ عند استحقاقها، والالتزام بالقيود والقوانين الخاصة بالمورد وذلك فيما يتعلق بتوافر واستخدام ثمن تذكرة السفر والمنتجات والخدمات. كما أنك تقر أن وجود متعهدي طرف ثالث يعملون على تقديم خدمات و/أو نشاطات قد يتطلب منك أن توقع إعفاء من المسئولية قبل المشاركة في الخدمة و/أو النشاط الذي يقدمه هؤلاء المتعهدون. وتجدر الإشارة إلى أنك تدرك كمستخدم أن أي خرق لأي من قيود وقوانين الموردين قد تؤدي إلى إلغاء عمليات الحجز التي قمت بها، ومنعك من الوصول إلى المنتجات والخدمات الخاصة بالسفر، ومصادرة الأموال التي قد دفعتها من أجل إجراء عمليات الحجز، وتحميلك أي تكاليف قد نتكبدها نتيجة لهذا الخرق.
     </p>   
    
    <a style="float: left; margin-bottom: 10px; font-weight: bold; padding-left: 10px;" href="#top"> Top</a>
        
    
    <!--<div style="margin-top: 20px"><a id="acceptance" style="color: #ae0b0c; font-size: 12px; font-weight: bold">Acceptance of Terms</a></div>
    <p>
    	In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. 
    </p>
          
    
    
    <div style="margin-top: 20px"><a id="generalUse" style="color: #ae0b0c; font-size: 12px; font-weight: bold">General Use of the Move Network</a></div>
    <p style="margin-bottom: 20px;">
    	In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In reprehenderit in voluptate cupidatat non proident, consectetur adipisicing elit. Sed do eiusmod tempor incididunt velit esse cillum dolore ut enim ad minim veniam. In 
   </p>     -->
</div>    
          </div>
  </div>