<div class="sign_in_row">
  <div class="sign_out"></div>
  <div class="sign_txt_row">
    <div class="message">You are successfully Loged In</div>
    <div class="sign_out_link"><a href="<%= logout_path %>">Sign Out</a></div>
  </div>
</div>