.header, a.logo, .content, .topbar, .midbar , .footbar, .midContent, .slide_row, .slide_img, .slide_desc, .slide_desc p , a.connect_btn, .service_bar, .service_bar ul, .service_bar ul li, .service_bar ul li a, .service_bar ul li a:hover, .sign_in_row, .sign_in, .sign_txt_row, .sign_txt_row .signTxt, .sign_txt_row .signTxt label, .sign_txt_row .signTxt input, input.go, a.forgot_pwd, .copyright, .sign_out , .message, .sign_out_link, .forgot_pass, .forgot_txt_row, .forgot_txt, .forgot_txt label, .forgot_txt input   {float:left;  }

.midContent {margin-left:4px }

.slide_row {margin:20px }

.service_bar ul li, .service_bar ul li a { background:url(../images/divider.jpg) right no-repeat }

.service_bar ul li a:hover, .service_bar ul li a.select_hov { background:url(../images/hober.png) no-repeat;   }

.sign_in { background:url(../images/sign_in.jpg) no-repeat left; margin-left:-11px }

.sign_out { background:url(../images/sign_out.jpg) no-repeat left; margin-left:-11px }

.sign_txt_row {margin-left:65px }

.sign_txt_row .signTxt {margin-right:15px }

a.forgot_pwd {margin-left:35px }

.tasawr, .tasawr_txt, a.footer_logo {float:right; text-align:right }

.tasawr_txt {border-right:1px solid #c9d3d9; padding-right:10px; margin-right:10px }

.forgot_pass { background:url(../images/forgot_pass.jpg) no-repeat; margin-left:-11px }

.forgot_txt_row {margin-left:48px }

.footbar { background:url(../images/footer_bg.png) no-repeat; }
