/* 
Tasawr Interactive
CSS Author: Mosaddek Hossain
*/

* {margin:0; padding:0 }

body {background:#e5ecf0 ; font-family:Arial, Myriad Pro, Helvetica, sans-serif; font-size:14px; color:#7b7a7b; }

.b { border: 1px solid }

a { outline: none; text-decoration: none; cursor: pointer; color:#7b7a7b }

a:hover { text-decoration: none }

a img { border: none; padding:0; margin:0}

ul li { list-style: none }

.wrapper {width:988px; margin:0 auto }

/*Header section*/

.header { width:988px; height:125px; }

a.logo {width:208px; height:50px; margin-top:45px }

.content {width:988px; }


/*Middle section*/

.topbar {width:988px; background:url(../images/top_bar.png) bottom no-repeat; height:8px }

.midbar {width:988px; background:url(../images/middle_bg.png) repeat-y; }

.midContent {width:980px; }

.slide_row {width:920px; margin-top:25px; }

.slide_img {width:400px }

.slide_desc {padding-top:40px }

.slide_desc, .slide_desc p {width:520px }

.slide_desc h1 { color:#49545a; font-weight: normal; font-size:36px; font-family: Myriad Pro }

.slide_desc p {margin-top:15px; font-size:16px; font-family:Myriad Pro;  min-height: 85px; }

a.connect_btn {background:url(../images/connect_now_btn.png) no-repeat; width:158px; height:56px; line-height:56px; font-size:18px; font-family: Myriad Pro; color:#d4dde4; text-align:center;  }

.service_bar {width:980px; background:url(../images/service_bar.jpg) repeat-x; height:130px; margin-top:10px }

.service_bar ul {width:980px }

.service_bar ul li, .service_bar ul li a {width:196px; line-height:130px; height:130px; /*margin-top:9px;*/ text-align:center }

.service_bar ul li a:hover, .service_bar ul li a.select_hov {width:196px; height:130px; line-height:130px;   }

.service_bar ul li a img {padding-top:50px }

.sign_in_row {width:980px; margin-top:15px; }

.sign_in, .sign_out {width:230px; height:121px; }

.sign_txt_row {width:685px; margin-top:10px }

.sign_txt_row .signTxt, .sign_txt_row .signTxt label, .sign_txt_row .signTxt input {width:213px; }

.sign_txt_row .signTxt label {color:#49545a; font-size:14px; line-height:30px; }

.sign_txt_row .signTxt input {background:url(../images/txt_bg.png) no-repeat; height:32px; line-height:32px; border:none }

input.go {width:63px; height:32px; background:url(../images/go_btn.png) no-repeat; color:#FFFFFF; font-size:14px; line-height:32px; text-align:center; border:none; cursor:pointer; margin-top:30px; font-weight:bold; padding-bottom:3px; }

a.forgot_pwd { color:#49545a; font-size:14px; margin-top:40px }

.copyright {width:400px; margin-top:65px; color:#7b8e99; font-size:12px }

.tasawr {width:400px; margin-top:30px }

.tasawr_txt {width:215px; height:30px; padding-top:20px; margin-top:20px; color:#7B8E99; font-size:12px}

a.footer_logo {width:131px; height:28px; margin-top:32px }

.message {width:590px; font-size:18px; color:#49545a; margin-top:40px; text-align:center; font-weight:normal; }

.sign_out_link {width:90px; text-align:center ; margin-top:45px;}

.sign_out_link a {color:#49545a; font-size:14px;  text-decoration:underline; text-align:center  }

.forgot_pass {width:350px; height:121px; }

.forgot_txt_row {width:500px; margin-top:10px }

.forgot_txt {width:335px }

.forgot_txt label, .forgot_txt input {width:323px;  }

.forgot_txt label {color:#49545a; font-size:14px; line-height:30px; }

.forgot_txt input { background:url(../images/forgot_txt.jpg) no-repeat; height:32px; border:none }

/*Footer section*/

.footbar {width:988px; height:211px; }

