<div class="smBoxTop">
  <div class="titleBgLeft"></div>
  <div class="titleBgMid">
    <h1>FORGOT PASSWORD</h1>
  </div>
  <div class="titleBgRight"></div>
</div>

<div class="smBoxMid">
  <div class="n_smboxmid">
    <% form_tag reset_password_path do -%>
      <div class="singInRow">
        <div style='text-align: center' class='textRow'>
          Please enter your email address to reset your password.
        </div>
        <div class='clear'></div>
        <div class='space_10'></div>

        <div class="textRow">
          <label>Email ID</label>
          <span>:</span>
          <%= text_field_tag 'email', @email %>
        </div>
        <div class="gobutton textRow">
          <label><%= link_to 'Sign in', root_url %></label>
          <input class="goBtn" name="" type="submit" value="Go!"/>
        </div>
      </div>
    <% end %>
  </div>
  <div class="smBoxBot"></div>
</div>