<div class="wideColumn">

  <h1><%= t('home.welcome') %></h1>

  <%= simple_format t('home.message') %>

  <div align="center" class="image_avater">
      <div class="secondRow">
        <a class="hotel" href="http://hotel.tasawr.net"></a>
        <a class="car_rental" href="http://carrental.tasawr.net"></a>
      </div>
      <div class="thirdRow">
        <a class="news_logo" href="http://news.tasawr.net"></a>
        <a class="relestate" href="http://realestate.tasawr.net"></a>
      </div>
  </div>
</div>

<div class="narrowColumn">
  <% if !logged_in? %>
    <%= render :partial => 'sessions/login_and_registration_boxes' %>
  <% else %>
    <%= render :partial => 'users/account_settings_box' %>
  <% end %>
</div>

<script type="text/javascript">
  <% if !@user.errors.empty? %>
    $('#errorMessages').dialog({modal: true});
  <% end %>
</script>